---
interface Props {
    title: string
}
const {title} = Astro.props
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
</head>
<body class="flex w-full h-screen m-auto justify-center items-center text-white bg-cyan-800">
    <slot />
</body>
</html>

<style>
    * {
        transition: 1s all;
    }
</style>